<div class="relative" data-controller="dropdown <%= "list-filter" if searchable %> form-dropdown">
  <div class="form-field">
    <input type="hidden" data-form-dropdown-target="input" value="<%= value_for(selected) %>">
    
    <label class="form-field__label" for="entry_date"><%= label %></label>
    <button type="button" class="form-field__input" data-dropdown-target="button" data-action="click->dropdown#toggle">
      <%= label_for(selected) || placeholder %>
    </button>
  </div>

  <div class="absolute z-50 mt-1.5 w-full rounded-lg shadow-lg hidden shadow-border-xs bg-container rounded-lg" data-dropdown-target="menu">
    <div class="flex flex-col relative" data-controller="list-filter">
      <div class="grow p-1.5">
        <% if searchable %>
          <div class="relative flex items-center bg-container border border-secondary rounded-lg">
            <input
              placeholder="<%= t("helpers.filter_dropdown.search_placeholder") %>"
              autocomplete="nope"
              type="search"
              class="bg-container placeholder:text-sm placeholder:text-secondary font-normal h-10 relative pl-10 w-full border-none rounded-lg focus:outline-hidden focus:ring-0"
              data-list-filter-target="input" 
              data-action="list-filter#filter">
              <%= helpers.icon("search", class: "absolute inset-0 ml-2 transform top-1/2 -translate-y-1/2") %>
          </div>
        <% end %>
        <div data-list-filter-target="list" class="flex flex-col gap-0.5 max-h-64 overflow-y-scroll scrollbar">
          <% if items.present? %>
            <% selected_value = value_for(selected) %>
            <% items.each do |item| %>
              <% value = value_for(item) %>
              <% label_text = label_for(item) %>
              <% is_selected = value == selected_value %>

              <% case variant %>
              <% when :simple %>
                <div class="filterable-item cursor-pointer flex text-sm font-medium items-center gap-2 text-secondary w-full rounded-lg px-3 py-2 hover:bg-container-inset-hover <%= "bg-container-inset" if is_selected %>"
                    data-action="click->dropdown#select"
                    data-value="<%= value %>"
                    data-filter-name="<%= label_text %>">
                    <span class="check-icon <%= "hidden" unless is_selected %>">
                      <%= helpers.icon("check") %>
                    </span>
                    <%= label_text %>
                </div>

              <% when :icon %>
                <div class="filterable-item cursor-pointer flex text-sm font-medium items-center gap-2 text-secondary w-full rounded-lg p-3 hover:bg-container-inset-hover <%= "bg-container-inset" if is_selected %>"
                    data-action="click->dropdown#select"
                    data-value="<%= value %>"
                    data-filter-name="<%= label_text %>">
                    <span class="check-icon <%= "hidden" unless is_selected %>">
                      <%= helpers.icon("check") %>
                    </span>
                    <%= label_text %>
                </div>

              <% when :badge %>
                <div class="filterable-item cursor-pointer flex items-center gap-2 p-2 rounded-lg hover:bg-container-inset-hover <%= "bg-container-inset" if is_selected %>"
                    data-action="click->dropdown#select"
                    data-value="<%= value %>"
                    data-filter-name="<%= label_text %>">
                  <span class="check-icon <%= 'hidden' unless is_selected %>">
                    <%= helpers.icon("check") %>
                  </span>
                  <% hex_color = item.color || "#CCCCCC" %>
                  <span class="flex items-center gap-1 text-sm font-medium rounded-full px-1.5 py-1 border truncate focus-visible:outline-none focus-visible:ring-0"
                        style="
                          background-color: color-mix(in oklab, <%= hex_color %> 10%, transparent);
                          border-color: color-mix(in oklab, <%= hex_color %> 20%, transparent);
                          color: <%= hex_color %>;">
                    <% if item.lucide_icon.present? %>
                      <%= helpers.icon item.lucide_icon, size: "sm", color: "current" %>
                    <% end %>
                    <%= label_text %>
                  </span>
                </div>
            <% end %>
          <% end %>
          <% else %>
            <div class="p-2 text-secondary">
              <%= empty_text %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
