<footer class="p-6">
  <div class="space-y-2 text-center text-xs text-secondary">
    <p>&copy; <%= Date.current.year %>, <%= brand_name %> <%= product_name %> (<%= t("layouts.shared.footer.community_fork") %>)</p>
    <div class="flex justify-center items-center gap-2">
      <%= link_to t("layouts.shared.footer.privacy_policy"), privacy_path, class: "text-secondary hover:text-primary transition-colors", target: "_blank" %>
      <span class="text-subdued">&bull;</span>
      <%= link_to t("layouts.shared.footer.terms_of_service"), terms_path, class: "text-secondary hover:text-primary transition-colors", target: "_blank" %>
    </div>
  </div>
</footer>