<%# locals: (import:) %>

<%= styled_form_with model: @import, url: import_configuration_path(@import), scope: :import, method: :patch, class: "space-y-4" do |form| %>
  <div class="space-y-4">
    <div class="flex items-center gap-4">
      <%= form.select :date_col_label, import.csv_headers, { include_blank: t(".select_column"), label: t(".date") }, required: true %>
      <%= form.select :date_format, Family::DATE_FORMATS, { label: t(".date_format_label")}, label: true, required: true %>
    </div>

    <div class="flex items-center gap-4">
      <%= form.select :qty_col_label, import.csv_headers, { include_blank: t(".select_column"), label: t(".quantity") }, required: true %>
      <%= form.select :signage_convention, [[t(".buys_positive"), "inflows_positive"], [t(".buys_negative"), "inflows_negative"]], label: true, required: true %>
    </div>

    <div class="flex items-center gap-4">
      <%= form.select :currency_col_label, import.csv_headers, { include_blank: t(".default_currency"), label: t(".currency") } %>
      <%= form.select :number_format, Import::NUMBER_FORMATS.keys, { label: t(".format"), prompt: t(".select_format") }, required: true %>
    </div>

    <%= form.select :ticker_col_label, import.csv_headers, { include_blank: t(".select_column"), label: t(".ticker") }, required: true %>
    <%= form.select :exchange_operating_mic_col_label, import.csv_headers, { include_blank: t(".leave_empty"), label: t(".stock_exchange_code") } %>
    <%= form.select :price_col_label, import.csv_headers, { include_blank: t(".select_column"), label: t(".price") }, required: true %>

    <% unless import.account.present? %>
      <%= form.select :account_col_label, import.csv_headers, { include_blank: t(".leave_empty"), label: t(".account") } %>
    <% end %>

    <%= form.select :name_col_label, import.csv_headers, { include_blank: t(".leave_empty"), label: t(".name") } %>

    <% unless Security.provider %>
      <div class="alert alert-warning">
        <p>
          <%= t(".security_prices_note_html").html_safe %>
        </p>
      </div>
    <% end %>
  </div>

  <%= form.submit t(".apply_configuration"), disabled: import.complete? %>
<% end %>
