<%# locals: (import:) %>

<%= styled_form_with model: @import, url: import_configuration_path(@import), scope: :import, method: :patch, class: "space-y-4" do |form| %>
  <div class="space-y-4">
    <div class="flex items-center gap-4">
      <%= form.select :date_col_label, import.csv_headers, { include_blank: t("import.configurations.trade_import.select_column"), label: t("import.configurations.trade_import.date") }, required: true %>
      <%= form.select :date_format, Family::DATE_FORMATS, { label: t(".date_format_label")}, label: true, required: true %>
    </div>

    <div class="flex items-center gap-4">
      <%= form.select :qty_col_label, import.csv_headers, { include_blank: t("import.configurations.trade_import.select_column"), label: t("import.configurations.trade_import.quantity") }, required: true %>
      <%= form.select :signage_convention, [[t("import.configurations.trade_import.buys_positive"), "inflows_positive"], [t("import.configurations.trade_import.buys_negative"), "inflows_negative"]], label: true, required: true %>
    </div>

    <div class="flex items-center gap-4">
      <%= form.select :currency_col_label, import.csv_headers, { include_blank: t("import.configurations.trade_import.default"), label: t("import.configurations.trade_import.currency") } %>
      <%= form.select :number_format, Import::NUMBER_FORMATS.keys, { label: t("import.configurations.trade_import.format"), prompt: t("import.configurations.trade_import.select_format") }, required: true %>
    </div>

    <%= form.select :ticker_col_label, import.csv_headers, { include_blank: t("import.configurations.trade_import.select_column"), label: t("import.configurations.trade_import.ticker") }, required: true %>
    <%= form.select :exchange_operating_mic_col_label, import.csv_headers, { include_blank: t("import.configurations.trade_import.leave_empty"), label: t("import.configurations.trade_import.stock_exchange_code") } %>
    <%= form.select :price_col_label, import.csv_headers, { include_blank: t("import.configurations.trade_import.select_column"), label: t("import.configurations.trade_import.price") }, required: true %>

    <% unless import.account.present? %>
      <%= form.select :account_col_label, import.csv_headers, { include_blank: t("import.configurations.trade_import.leave_empty"), label: t("import.configurations.trade_import.account") } %>
    <% end %>

    <%= form.select :name_col_label, import.csv_headers, { include_blank: t("import.configurations.trade_import.leave_empty"), label: t("import.configurations.trade_import.name") } %>

    <% unless Security.provider %>
      <div class="alert alert-warning">
        <p>
          <%= raw t("import.configurations.trade_import.no_provider_warning_html") %>
        </p>
      </div>
    <% end %>
  </div>

  <%= form.submit t("import.configurations.trade_import.apply_configuration"), disabled: import.complete? %>
<% end %>
