<% loan = account.loan %>

<div class="space-y-8">

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <%= summary_card title: t(".remaining_principal") do %>
        <%= format_money account.balance_money %>
    <% end %>

    <%= summary_card title: t(".monthly_payment") do %>
      <% if loan.rate_type == 'fixed' && loan.monthly_payment.present? %>
          <%= format_money(loan.monthly_payment) %>
      <% else %>
        <%= t(".not_applicable") %>
      <% end %>
    <% end %>
  </div>


  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <%= summary_card title: "Total Paid (End of Loan)" do %>
      <% if loan.total_paid.present? %>
        <%= format_money(loan.total_paid) %>
      <% else %>
        <%= t(".unknown") %>
      <% end %>
    <% end %>

    <%= summary_card title: "Total Interest" do %>
      <% if loan.total_interest.present? %>
        <div class="space-y-2">
          <div class="text-amber-500">
            <%= format_money(loan.total_interest) %>
          </div>

          <% if loan.interest_ratio.present? %>
            <div class="text-xs text-zinc-500">
              <%= number_to_percentage(loan.interest_ratio * 100, precision: 1) %>
              of total paid
            </div>
            <div class="w-full h-2 bg-zinc-800 rounded-full overflow-hidden">
              <div
                class="h-full bg-amber-500"
                style="width: <%= loan.interest_ratio * 100 %>%">
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= t(".unknown") %>
      <% end %>
    <% end %>

  </div>


  <!-- ⚙️ Technical details -->
  <div class="grid grid-cols-2 md:grid-cols-4 gap-3 text-sm">
    <%= summary_card title: t(".original_principal") do %>
      <%= format_money loan.original_balance %>
    <% end %>
    <%= summary_card title: t(".interest_rate") do %>
      <%= loan.interest_rate.present? ? number_to_percentage(loan.interest_rate, precision: 3) : t(".unknown") %>
    <% end %>
    <%= summary_card title: t(".term") do %>
      <% if loan.term_months.present? %>
        <%= pluralize(loan.term_months / 12, "year") %>
      <% else %>
        <%= t(".unknown") %>
      <% end %>
    <% end %>
    <%= summary_card title: t(".type") do %>
      <%= loan.rate_type&.titleize || t(".unknown") %>
    <% end %>

    

  </div>

</div>
