<%= settings_section title: t(".title") do %>
  <div class="space-y-4">
    <%= render "exports_list" %>

    <%= link_to new_family_export_path,
                class: "bg-container-inset inline-flex items-center justify-center gap-2 hover:bg-container-inset-hover rounded-lg px-4 py-2 w-full font-medium text-primary text-sm text-center",
                data: { turbo_frame: :modal } do %>
      <%= icon("plus") %>
      <%= t(".new") %>
    <% end %>
  </div>
<% end %>
