<%= render DS::Dialog.new(variant: "drawer", frame: "bulk_transaction_edit_drawer") do |dialog| %>
  <% dialog.with_header(title: t("transactions.bulk_updates.title"), data: { bulk_select_target: "bulkEditDrawerHeader" }) %>

  <% dialog.with_body do %>
    <%= styled_form_with url: transactions_bulk_update_path, scope: "bulk_update", class: "h-full flex flex-col justify-between gap-4", data: { turbo_frame: "_top" } do |form| %>
      <div class="space-y-4">
        <%= render DS::Disclosure.new(title: t("transactions.bulk_updates.overview"), open: true) do %>
          <%= form.date_field :date, label: t("transactions.form.date"), max: Date.current %>
        <% end %>

        <%= render DS::Disclosure.new(title: t("transactions.bulk_updates.transactions"), open: true) do %>
          <div class="space-y-2">
            <%= form.collection_select :category_id, Current.family.categories.alphabetically, :id, :name, { prompt: t("transactions.bulk_updates.select_category"), label: t("transactions.form.category"), class: "text-subdued" } %>
            <%= form.collection_select :merchant_id, Current.family.available_merchants.alphabetically, :id, :name, { prompt: t("transactions.bulk_updates.select_merchant"), label: t("transactions.show.merchant_label"), class: "text-subdued" } %>
            <%= form.select :tag_ids, Current.family.tags.alphabetically.pluck(:name, :id), { include_blank: t("transactions.form.none"), multiple: true, label: t("transactions.form.tags_label"), include_hidden: false } %>
            <%= form.text_area :notes, label: t("transactions.form.note_label"), placeholder: t("transactions.bulk_updates.bulk_note_placeholder"), rows: 5 %>
          </div>
        <% end %>
      </div>

      <div class="flex justify-end gap-2 mt-auto">
        <%= render DS::Button.new(text: t("transactions.bulk_updates.cancel"), variant: "ghost", data: { action: "click->DS--dialog#close" }) %>
        <%= render DS::Button.new(text: t("transactions.bulk_updates.save"), data: { bulk_select_scope_param: "bulk_update", action: "bulk-select#submitBulkRequest" }) %>
      </div>
    <% end %>
  <% end %>
<% end %>
