<%= content_for :page_title, t(".page_title") %>

<%= settings_section title: t(".subscription_title"), subtitle: t(".subscription_subtitle") do %>
  <div class="space-y-4">
    <div class="p-3 shadow-border-xs bg-container rounded-lg flex justify-between items-center">
      <div class="flex items-center gap-3">
        <%= render DS::FilledIcon.new(
          icon: "gem",
          rounded: true,
          size: "lg"
        ) %>

        <div class="text-sm space-y-1">
          <% if @family.has_active_subscription? %>
            <p class="text-primary">
              <%= t('.subscribed_html', plan: @family.subscription.name) %>

              <% if @family.next_billing_date %>
                <%= t('.renews_on_html', date: @family.next_billing_date.strftime("%B %d, %Y")) %>
              <% end %>
            </p>
          <% elsif @family.trialing? %>
            <p class="text-primary">
              <%= t('.trialing', product_name: product_name) %>
              <span class="text-secondary">
                (<%= t('.days_remaining', days: @family.days_left_in_trial) %>)
              </span>
            </p>
          <% else %>
            <p class="text-primary"><%= t('.not_subscribed_html') %></p>
            <p class="text-secondary"><%= t('.subscribe_prompt', product_name: product_name) %></p>
          <% end %>
        </div>
      </div>

      <% if @family.has_active_subscription? %>
        <%= render DS::Link.new(
          text: t('.manage'),
          icon: "external-link",
          variant: "primary",
          icon_position: "right",
          href: subscription_path,
          rel: "noopener"
        ) %>
      <% else %>
        <%= render DS::Link.new(
          text: t('.choose_plan'),
          variant: "primary",
          icon: "plus",
          icon_position: "right",
          href: upgrade_subscription_path(view: "upgrade"),
          rel: "noopener") %>
      <% end %>
    </div>

    <div class="flex items-center gap-2">
      <%= image_tag "stripe-logo.svg", class: "w-5 h-5 shrink-0" %>
      <p class="text-secondary text-sm"><%= t('.billing_via_stripe') %></p>
    </div>
  </div>
<% end %>
