<%# locals: (form:) %>

<div class="flex flex-col gap-2">
  <%= form.text_field :name,
                  label: t("properties.overview_fields.name"),
                  placeholder: t("properties.overview_fields.name_placeholder"),
                  required: true %>

  <%= form.select :subtype,
                Property::SUBTYPES.map { |k, v| [v[:long], k] },
                { prompt: t("properties.overview_fields.select_type"), label: t("properties.overview_fields.property_type") }, required: true %>

  <%= form.hidden_field :accountable_type, value: "Property" %>

  <%= form.fields_for :accountable do |property_form| %>
    <div class="flex items-center gap-2">
      <%= property_form.number_field :year_built,
                    label: t("properties.overview_fields.year_built"),
                    placeholder: "1990",
                    min: 1800,
                    max: Time.current.year %>
    </div>

    <div class="flex items-center gap-2">
      <%= property_form.number_field :area_value,
                      label: t("properties.overview_fields.area"),
                      placeholder: "1200",
                      min: 0 %>
      <%= property_form.select :area_unit,
                      [[t("properties.overview_fields.square_feet"), "sqft"], [t("properties.overview_fields.square_meters"), "sqm"]],
                      { label: t("properties.overview_fields.area_unit") } %>
    </div>
  <% end %>

</div>
