<%# locals: (form:) %>

<div class="flex flex-col gap-2">
  <%= form.text_field :name,
                  label: t(".name"),
                  placeholder: t(".name_placeholder"),
                  required: true %>

  
  <%= form.hidden_field :accountable_type, value: "Property" %>

  <%= form.fields_for :accountable do |property_form| %>
    <%= property_form.select :subtype,
                Property::SUBTYPES.map { |k, v| [v[:long], k] },
                { prompt: t(".select_type"), label: t(".property_type") }, required: true %>

    <div class="flex items-center gap-2">
      <%= property_form.number_field :year_built,
                    label: t(".year_built_optional"),
                    placeholder: "1990",
                    min: 1500,
                    max: Time.current.year %>
    </div>

    <div class="flex items-center gap-2">
      <%= property_form.number_field :area_value,
                      label: t(".area_optional"),
                      placeholder: "1200",
                      min: 0 %>
      <%= property_form.select :area_unit,
                      [[t(".square_feet"), "sqft"], [t(".square_meters"), "sqm"]],
                      { label: t(".area_unit") } %>
    </div>
  <% end %>

</div>
