<%= render DS::Dialog.new do |dialog| %>
  <% dialog.with_header(title: t("properties.address.title")) %>
  <% dialog.with_body do %>
    <div class="flex gap-4">
      <!-- Left sidebar with tabs -->
      <%= render "properties/form_tabs", account: @account, active_tab: "address" %>

      <!-- Right content area with form -->
      <div class="flex-1">
        <%= styled_form_with model: @property, url: update_address_property_path(@account), method: :patch, data: { turbo_frame: @property.address.persisted? ? nil : :_top } do |form| %>
          <div class="flex flex-col gap-2 min-h-[320px]">
            <%= render "properties/form_alert", notice: @success_message, error: @error_message %>

            <%= form.fields_for :address do |address_form| %>
              <%= address_form.text_field :line1,
                    label: t("properties.address.line1"),
                    placeholder: t("properties.address.line1_placeholder") %>

              <div class="flex items-center gap-2">
                <%= address_form.text_field :locality,
                      label: t("properties.address.city"),
                      placeholder: t("properties.address.city_placeholder") %>
                <%= address_form.text_field :region,
                      label: t("properties.address.region"),
                      placeholder: t("properties.address.region_placeholder") %>
              </div>

              <div class="flex items-center gap-2">
                <%= address_form.text_field :postal_code,
                      label: t("properties.address.postal_code"),
                      placeholder: t("properties.address.postal_code_placeholder") %>
                <%= address_form.text_field :country,
                      label: t("properties.address.country"),
                      placeholder: t("properties.address.country_placeholder") %>
              </div>
            <% end %>
          </div>

          <!-- Save button -->
          <div class="flex justify-end mt-4">
            <%= render DS::Button.new(
              text: t("properties.address.save"),
              variant: "primary",
            ) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
