<%= content_for :previous_path, goals_onboarding_path %>

<%= content_for :header_nav do %>
  <%= render "onboardings/onboarding_nav", user: @user %>
<% end %>

<%= content_for :cancel_action do %>
  <%= render "onboardings/logout" %>
<% end %>

<%= content_for :footer do %>
  <%= render "layouts/shared/footer" %>
<% end %>

<div class="grow flex flex-col gap-12 items-center justify-center">
  <div class="max-w-sm mx-auto flex flex-col items-center">
    <%= image_tag "logo-color.png", class: "w-16 mb-6" %>

    <p class="text-xl lg:text-3xl text-primary font-display font-medium">
      <%= t(".title", days: 45) %>
    </p>

    <h2 class="text-xl lg:text-3xl font-display text-secondary font-medium mb-2">
      <%= t(".data_deleted") %>
    </h2>

    <p class="text-sm text-secondary text-center mb-8">
      <%= t(".intro") %>
    </p>

    <div class="w-full">
      <% if Current.family.can_start_trial? %>
        <%= render DS::Button.new(
        text: t(".try_button", days: 45),
        href: subscription_path,
        full_width: true,
        data: { turbo: false }
      ) %>
      <% elsif Current.family.trialing? %>
        <%= render DS::Link.new(
          text: t(".continue_button"),
          href: root_path,
          full_width: true,
        ) %>
      <% else %>
        <%= render DS::Link.new(
          text: t(".upgrade_button"),
          href: upgrade_subscription_path,
          full_width: true,
        ) %>
      <% end %>
    </div>
  </div>

  <div class="space-y-8">
    <h2 class="text-center text-lg lg:text-2xl font-medium text-primary"><%= t(".how_things_work") %></h2>

    <div class="flex gap-3">
      <div class="rounded-xl p-1 bg-gray-400/20 theme-dark:bg-gray-500/20 flex flex-col justify-between items-center text-secondary">
        <%= render DS::FilledIcon.new(icon: "unlock-keyhole", variant: :inverse) %>
        <%= render DS::FilledIcon.new(icon: "bell", variant: :inverse) %>
        <%= render DS::FilledIcon.new(icon: "credit-card", variant: :inverse) %>
      </div>

      <div class="space-y-12">
        <div class="space-y-1.5 text-sm">
          <p class="text-primary font-medium"><%= t(".today") %></p>
          <p class="text-secondary"><%= t(".today_desc", days: 45) %></p>
        </div>

        <div class="space-y-1.5 text-sm">
          <p class="text-primary font-medium"><%= t(".in_days", count: 40) %> (<%= 40.days.from_now.strftime("%B %d") %>)</p>
          <p class="text-secondary"><%= t(".remind_desc") %></p>
        </div>

        <div class="space-y-1.5 text-sm">
          <p class="text-primary font-medium"><%= t(".in_days", count: 45) %> (<%= 45.days.from_now.strftime("%B %d") %>)</p>
          <p class="text-secondary"><%= t(".delete_desc") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
