<%# locals: (import:) %>

<div class="h-full flex flex-col justify-center items-center">
  <div class="space-y-6 max-w-sm">
    <div class="mx-auto bg-red-500/5 h-8 w-8 rounded-full flex items-center justify-center">
      <%= icon "alert-octagon", color: "destructive" %>
    </div>

    <div class="text-center space-y-2">
      <h1 class="font-medium text-primary text-center text-3xl"><%= t(".title") %></h1>
      <p class="text-sm text-secondary"><%= t(".description") %></p>
    </div>

    <% if import.error.present? %>
      <div class="rounded-lg border border-destructive/15 bg-destructive/5 p-4 text-sm text-primary">
        <ul class="list-disc space-y-1 pl-4">
          <% import.error.lines.map(&:strip).reject(&:blank?).each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render DS::Button.new(text: t(".try_again"), href: publish_import_path(import), full_width: true) %>
  </div>
</div>
