<%= render "imports/imports" %>

<% if Current.user.admin? %>
  <%= settings_section collapsible: true, title: t(".exports") do %>
    <div class="flex flex-col space-y-4">
      <%= turbo_frame_tag "family_exports", src: family_exports_path, loading: :lazy do %>
        <div class="bg-container rounded-xl shadow-border-xs overflow-x-auto">
          <div class="mt-4 text-center text-secondary py-8">
            <div class="animate-spin inline-block h-4 w-4 border-2 border-secondary border-t-transparent rounded-full"></div>
          </div>
        </div>
      <% end %>

      <%= link_to new_family_export_path,
          class: "bg-container-inset inline-flex items-center justify-center gap-2 hover:bg-container-inset-hover rounded-lg px-4 py-2 w-full font-medium text-primary text-sm text-center",
          data: { turbo_frame: :modal } do %>
        <%= icon("plus") %>
        <%= t(".new_export") %>
      <% end %>
    </div>
  <% end %>
<% end %>
