<%= render DS::Dialog.new do |dialog| %>
  <% dialog.with_header(title: t(".title"), subtitle: t(".description")) %>

  <% dialog.with_body do %>
    <div class="rounded-xl bg-container-inset p-1">
      <h3 class="uppercase text-secondary text-xs font-medium px-3 py-1.5"><%= t(".sources") %></h3>
      <ul class="bg-container shadow-border-xs rounded-lg overflow-hidden">
        <li>
          <% if @pending_import.present? && (params[:type].nil? || params[:type] == @pending_import.type) %>
            <%= link_to import_path(@pending_import), class: "flex items-center justify-between p-4 group cursor-pointer hover:bg-surface-hover transition-colors", data: { turbo: false } do %>
              <div class="flex items-center gap-2">
                <div class="bg-warning/10 rounded-md w-8 h-8 flex items-center justify-center">
                  <span class="text-warning">
                    <%= icon("loader", color: "current", class: "animate-spin") %>
                  </span>
                </div>
                <span class="text-sm text-primary font-medium group-hover:text-primary-hover">
                  <%= t(".resume", type: @pending_import.type.titleize) %>
                </span>
              </div>
              <%= icon("chevron-right", class: "text-secondary") %>
            <% end %>

            <%= render "shared/ruler" %>
          </li>
        <% end %>

        <% if Current.family.accounts.any? && (params[:type].nil? || params[:type] == "TransactionImport") %>
          <li>
            <%= button_to imports_path(import: { type: "TransactionImport" }), class: "flex items-center justify-between p-4 group cursor-pointer w-full hover:bg-surface-hover transition-colors", data: { turbo: false } do %>
              <div class="flex items-center gap-2 text-left">
                <div class="bg-primary/10 rounded-md w-8 h-8 flex items-center justify-center">
                  <span class="text-primary">
                    <%= icon("file-spreadsheet", color: "current") %>
                  </span>
                </div>
                <span class="text-sm text-primary font-medium group-hover:text-primary-hover">
                  <%= t(".import_transactions") %>
                </span>
              </div>
              <%= icon("chevron-right", class: "text-secondary") %>
            <% end %>

            <%= render "shared/ruler" %>
          </li>
        <% end %>

        <% if Current.family.accounts.any? && (params[:type].nil? || params[:type] == "TradeImport") %>
          <li>
            <%= button_to imports_path(import: { type: "TradeImport" }), class: "flex items-center justify-between p-4 group cursor-pointer w-full hover:bg-surface-hover transition-colors", data: { turbo: false } do %>
              <div class="flex items-center gap-2 text-left">
                <div class="bg-primary/10 rounded-md w-8 h-8 flex items-center justify-center">
                  <span class="text-primary">
                    <%= icon("square-percent", color: "current") %>
                  </span>
                </div>
                <span class="text-sm text-primary font-medium group-hover:text-primary-hover">
                  <%= t(".import_portfolio") %>
                </span>
              </div>
              <%= icon("chevron-right", class: "text-secondary") %>
            <% end %>

            <%= render "shared/ruler" %>
          </li>
        <% end %>

        <% if params[:type].nil? || params[:type] == "AccountImport" %>
          <li>
            <%= button_to imports_path(import: { type: "AccountImport" }), class: "flex items-center justify-between p-4 group cursor-pointer w-full hover:bg-surface-hover transition-colors", data: { turbo: false } do %>
              <div class="flex items-center gap-2 text-left">
                <div class="bg-primary/10 rounded-md w-8 h-8 flex items-center justify-center">
                  <span class="text-primary">
                    <%= icon("building", color: "current") %>
                  </span>
                </div>
                <span class="text-sm text-primary font-medium group-hover:text-primary-hover">
                  <%= t(".import_accounts") %>
                </span>
              </div>
              <%= icon("chevron-right", class: "text-secondary") %>
            <% end %>

            <%= render "shared/ruler" %>
          </li>
        <% end %>

        <% if params[:type].nil? || params[:type] == "CategoryImport" %>
          <li>
            <%= button_to imports_path(import: { type: "CategoryImport" }), class: "flex items-center justify-between p-4 group cursor-pointer w-full hover:bg-surface-hover transition-colors", data: { turbo: false } do %>
              <div class="flex items-center gap-2 text-left">
                <div class="bg-primary/10 rounded-md w-8 h-8 flex items-center justify-center">
                  <span class="text-primary">
                    <%= icon("shapes", color: "current") %>
                  </span>
                </div>
                <span class="text-sm text-primary font-medium group-hover:text-primary-hover">
                  <%= t(".import_categories") %>
                </span>
              </div>
              <%= icon("chevron-right", class: "text-secondary") %>
            <% end %>

            <%= render "shared/ruler" %>
          </li>
        <% end %>

        <% if params[:type].nil? || params[:type] == "RuleImport" %>
          <li>
            <%= button_to imports_path(import: { type: "RuleImport" }), class: "flex items-center justify-between p-4 group cursor-pointer w-full hover:bg-surface-hover transition-colors", data: { turbo: false } do %>
              <div class="flex items-center gap-2 text-left">
                <div class="bg-primary/10 rounded-md w-8 h-8 flex items-center justify-center">
                  <span class="text-primary">
                    <%= icon("workflow", color: "current") %>
                  </span>
                </div>
                <span class="text-sm text-primary font-medium group-hover:text-primary-hover">
                  <%= t(".import_rules") %>
                </span>
              </div>
              <%= icon("chevron-right", class: "text-secondary") %>
            <% end %>

            <%= render "shared/ruler" %>
          </li>
        <% end %>

        <% if Current.family.accounts.any? && (params[:type].nil? || params[:type] == "MintImport" || params[:type] == "TransactionImport") %>
          <li>
            <%= button_to imports_path(import: { type: "MintImport" }), class: "flex items-center justify-between p-4 group w-full hover:bg-surface-hover transition-colors", data: { turbo: false } do %>
              <div class="flex items-center gap-2 text-left">
                <div class="w-8 h-8 rounded-md overflow-hidden bg-white flex items-center justify-center">
                  <%= image_tag("mint-logo.jpeg", alt: "Mint logo", class: "w-7 h-7 object-contain") %>
                </div>
                <span class="text-sm text-primary font-medium group-hover:text-primary-hover">
                  <%= t(".import_mint") %>
                </span>
              </div>
              <%= icon("chevron-right", class: "text-secondary") %>
            <% end %>

            <%= render "shared/ruler" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>