<div class="flex items-start w-full gap-3 p-2">
  <%= render "chats/ai_avatar" %>

  <div class="max-w-[85%] text-sm space-y-4 text-primary">
    <p>Hey <%= Current.user&.first_name || "there" %>! I'm an AI/large-language-model that can help with your finances. I have access to the web and your account data.</p>

    <p>
      <%= t("chats.ai_greeting.commands_hint_html").html_safe %>
    </p>

    <div class="space-y-3">
      <p><%= t("chats.ai_greeting.questions_intro") %></p>

      <% questions = [
        {
          icon: "chart-area",
          text: t("chats.ai_greeting.evaluate_portfolio")
        },
        {
          icon: "wallet-minimal",
          text: t("chats.ai_greeting.spending_insights")
        },
        {
          icon: "alert-triangle",
          text: t("chats.ai_greeting.unusual_patterns")
        }
      ] %>

      <div class="space-y-2.5">
        <% questions.each do |question| %>
          <button data-action="chat#submitSampleQuestion"
                  data-chat-question-param="<%= question[:text] %>"
                  class="w-fit flex items-center gap-2 border border-tertiary rounded-full py-1.5 px-2.5 hover:bg-gray-100">
            <%= icon(question[:icon]) %> <%= question[:text] %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
