<% pending_session = Current.true_user.impersonated_support_sessions.pending.first %>
<% in_progress_session = Current.true_user.impersonated_support_sessions.in_progress.first %>

<div class="sticky top-0 left-0 w-full bg-black flex items-center justify-between font-mono z-50">
  <div class="flex items-center bg-red-600 text-inverse px-6 py-4">
    <%= icon "alert-triangle", size: "lg", color: "current", class: "mr-2" %>
    <span class="text-inverse font-semibold uppercase">
      <%= t(".access", type: in_progress_session.present? ? t(".session") : t(".request")) %>
    </span>
  </div>
  <div class="flex items-center space-x-2 px-2 py-2 text-white gap-4">
    <% if pending_session.present? %>
      <p class="text-xs max-w-3xl text-right"><%= t(".support_requested") %></p>
      <%= render DS::Button.new(
            text: t("impersonation_sessions.approve.button"),
            href: approve_impersonation_session_path(pending_session),
            method: :put,
            variant: :primary,
            size: :sm,
            class: "!bg-green-600 hover:!bg-green-700"
          ) %>
      <%= render DS::Button.new(
            text: t("impersonation_sessions.reject.button"),
            href: reject_impersonation_session_path(pending_session),
            method: :put,
            variant: :destructive,
            size: :sm
          ) %>
    <% elsif in_progress_session.present? %>
      <p class="text-xs max-w-3xl text-right"><%= t(".staff_viewing") %></p>
      <%= render DS::Button.new(
            text: t("impersonation_sessions.complete.button"),
            href: complete_impersonation_session_path(in_progress_session),
            method: :put,
            variant: :primary,
            size: :sm,
            class: "!bg-blue-600 hover:!bg-blue-700"
          ) %>
    <% else %>
      <p class="text-xs max-w-3xl text-right text-red-500"><%= t(".error") %></p>
    <% end %>
  </div>
</div>