<%# locals: (form:) %>
<div data-controller="list-filter">
  <%= render DS::SearchInput.new(
        variant: :embedded,
        placeholder: t(".filter_category"),
        aria_label: t(".filter_category"),
        data: {
          list_filter_target: "input",
          action: "input->list-filter#filter"
        }
      ) %>
  <div class="my-2" id="list" data-list-filter-target="list">
    <% family_categories_with_hierarchy.each do |category| %>
      <div class="filterable-item flex items-center gap-2 p-2 <%= "ml-4" if category.subcategory? %>" data-filter-name="<%= category.name %>">
        <%= form.check_box :categories,
                           {
                             multiple: true,
                             checked: @q[:categories]&.include?(category.name),
                             class: "checkbox checkbox--light"
                           },
                           category.name,
                           nil %>
        <%= form.label :categories, category.name, value: category.name, class: "text-sm text-primary cursor-pointer flex items-center gap-1" do %>
          <% if category.subcategory? %>
            <%= icon("corner-down-right", size: "sm", class: "text-secondary") %>
          <% end %>
          <%= render partial: "categories/badge", locals: { category: category } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
