<%# locals: (account:, entry:, reconciliation_dry_run:, is_update:, action_verb:) %>

<div class="space-y-4 text-sm text-secondary">
  <% if account.investment? %>
    <% brokerage_cash = reconciliation_dry_run.new_cash_balance || 0 %>
    <% holdings_value = reconciliation_dry_run.new_balance - brokerage_cash %>

    <p><%= t(".investment_intro", action_verb: t("valuations.action_verbs.#{action_verb}"), date: content_tag(:span, entry.date.strftime("%B %d, %Y"), class: "font-medium text-primary")) %></p>

    <div class="bg-container rounded-lg p-4 space-y-2 border border-primary">
      <div class="flex justify-between">
        <span><%= t(".total_value") %></span>
        <span class="font-medium text-primary"><%= Money.new(reconciliation_dry_run.new_balance, account.currency).format %></span>
      </div>
      <div class="flex justify-between text-xs">
        <span><%= t(".holdings_value") %></span>
        <span><%= Money.new(holdings_value, account.currency).format %></span>
      </div>
      <div class="flex justify-between text-xs">
        <span><%= t(".brokerage_cash") %></span>
        <span class="<%= brokerage_cash.negative? ? "text-red-500" : "text-green-500" %>"><%= Money.new(brokerage_cash, account.currency).format %></span>
      </div>
    </div>
  <% else %>
    <% type_key = if account.depository?
                    "depository"
                  elsif account.credit_card?
                    "credit_card"
                  elsif account.loan?
                    "loan"
                  elsif account.property?
                    "property"
                  elsif account.vehicle?
                    "vehicle"
                  elsif account.crypto?
                    "crypto"
                  elsif account.other_asset?
                    "other_asset"
                  elsif account.other_liability?
                    "other_liability"
                  else
                    "default"
                  end %>
    <p>
      <%= t(".intro",
            action_verb: t("valuations.action_verbs.#{action_verb}").capitalize,
            type: t(".types.#{type_key}"),
            date: content_tag(:span, entry.date.strftime("%B %d, %Y"), class: "font-medium text-primary"),
            amount: content_tag(:span, entry.amount_money.format, class: "font-medium text-primary")
          ).html_safe %>
    </p>
  <% end %>

  <p><%= t(".recalculation_warning", action: is_update ? t(".update") : t(".change")) %></p>
</div>
