<%# locals: (account:) %>

<% closed_lots = account.bond.bond_lots.where.not(closed_on: nil).order(closed_on: :desc) %>

<%= turbo_frame_tag dom_id(account, :closed) do %>
  <div class="bg-container space-y-4 px-3 py-4 lg:p-4 rounded-xl shadow-border-xs">
    <div class="flex items-center justify-between">
      <%= tag.h2 t(".closed"), class: "font-medium text-lg" %>
    </div>

    <div class="bg-container-inset rounded-xl p-1 overflow-x-auto">
      <div class="w-max lg:w-full">
        <div class="grid grid-cols-[4fr_2fr_2fr_2fr_2fr_2fr] items-center uppercase text-xs font-medium text-secondary px-4 py-2">
          <%= tag.p t(".name") %>
          <%= tag.p t(".weight"), class: "justify-self-end" %>
          <%= tag.p t(".rate"), class: "justify-self-end" %>
          <%= tag.p t(".holdings"), class: "justify-self-end" %>
          <%= tag.p t(".maturity"), class: "justify-self-end" %>
          <%= tag.p t(".total_return"), class: "justify-self-end" %>
        </div>

        <div class="bg-container rounded-lg shadow-border-xs">
          <% if closed_lots.any? %>
            <% closed_lots.each_with_index do |lot, index| %>
              <%= render "bonds/closed_purchase_holding", lot: lot, account: account %>
              <%= render "shared/ruler" unless index == closed_lots.size - 1 %>
            <% end %>
          <% else %>
            <div class="p-4 text-sm text-secondary"><%= t(".no_closed_lots") %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
