<%# locals: (account:) %>

<% lots = account.bond.bond_lots.open.order(purchased_on: :desc) %>

<%= turbo_frame_tag dom_id(account, :positions) do %>
  <div class="bg-container space-y-4 px-3 py-4 lg:p-4 rounded-xl shadow-border-xs">
    <div class="flex items-center justify-between">
      <%= tag.h2 t(".positions"), class: "font-medium text-lg" %>
      <%= link_to new_bond_lot_path(account_id: account.id),
                  id: dom_id(account, "new_activity"),
                  data: { turbo_frame: :modal },
                  class: "flex gap-1 font-medium items-center bg-gray-50 theme-dark:bg-gray-700 hover:bg-gray-100 theme-dark:hover:bg-gray-600 text-primary p-2 rounded-lg" do %>
        <span class="text-primary">
          <%= icon("plus", color: "current") %>
        </span>
        <%= tag.span t(".new_activity"), class: "text-sm" %>
      <% end %>
    </div>

    <div class="bg-container-inset rounded-xl p-1 overflow-x-auto">
      <div class="w-max lg:w-full">
        <div class="grid grid-cols-[4fr_2fr_2fr_2fr_2fr_2fr] items-center uppercase text-xs font-medium text-secondary px-4 py-2">
          <%= tag.p t(".name") %>
          <%= tag.p t(".weight"), class: "justify-self-end" %>
          <%= tag.p t(".rate"), class: "justify-self-end" %>
          <%= tag.p t(".holdings"), class: "justify-self-end" %>
          <%= tag.p t(".maturity"), class: "justify-self-end" %>
          <%= tag.p t(".total_return"), class: "justify-self-end" %>
        </div>

        <div class="bg-container rounded-lg shadow-border-xs">
          <% if account.cash_balance.to_d > 0 %>
            <%= render "bonds/cash_holding", account: account %>
            <%= render "shared/ruler" if lots.any? %>
          <% end %>

          <% if lots.any? %>
            <% lots.each_with_index do |lot, index| %>
              <%= render "bonds/purchase_holding", lot: lot, account: account %>
              <%= render "shared/ruler" unless index == lots.size - 1 %>
            <% end %>
          <% else %>
            <div class="p-4 text-sm text-secondary"><%= t(".no_purchases") %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
