<%# locals: (provider_link:) %>

<%= link_to provider_link[:path],
            target: provider_link[:target],
            rel: provider_link[:rel],
            class: "flex justify-between items-center p-4 bg-container hover:bg-container-hover transition-colors" do %>
  <div class="flex w-full items-center gap-2.5">
    <%= render partial: "shared/color_avatar", locals: { name: provider_link[:name], color: provider_link[:color] || "#6B7280" } %>

    <div class="flex flex-col">
      <div class="flex items-center gap-1.5">
        <p class="text-primary text-sm font-medium">
          <%= provider_link[:name] %>
        </p>
        <% if provider_link[:beta] %>
          <span class="px-1.5 py-0.5 rounded text-xs font-medium bg-warning/10 text-warning">beta</span>
        <% end %>
      </div>
      <p class="text-secondary text-xs">
        <%= provider_link[:description] %>
      </p>
    </div>
  </div>
  <div class="justify-self-end">
    <%= icon("arrow-right", size: "sm", class: "text-secondary") %>
  </div>
<% end %>
