<%# locals: (entry:, balance_trend: nil, **) %>

<% trade = entry.entryable %>
<% logo_url = trade.security&.logo_url.presence %>

<%= turbo_frame_tag dom_id(entry) do %>
  <%= turbo_frame_tag dom_id(trade) do %>
    <div class="group flex lg:grid lg:grid-cols-12 items-center text-primary text-sm font-medium p-3 lg:p-4 <%= entry.excluded ? "text-secondary bg-surface-inset" : "text-primary" %>">
      <div class="col-span-8 flex items-center gap-4 min-w-0">
        <%= check_box_tag dom_id(entry, "selection"),
          class: "checkbox checkbox--light hidden lg:block",
          data: {
            id: entry.id,
            entry_type: entry.entryable_type,
            "bulk-select-target": "row",
            action: "bulk-select#toggleRowSelection",
            checkbox_toggle_target: "selectionEntry"
          } %>

        <div class="flex md:hidden items-center gap-1 col-span-2 relative shrink-0">
            <%= render "entries/logo", name: entry.name, logo_url: logo_url, size: :md %>
        </div>
              

        <div class="min-w-0 flex items-center gap-3 lg:gap-4 flex-1 <%= "opacity-50" if entry.excluded %>">
          <div class="hidden md:flex flex-shrink-0">
            <%= render "entries/logo", name: entry.name, logo_url: logo_url, size: :lg %>
          </div>
          <%= link_to entry.name,
              entry_path(entry),
              data: { turbo_frame: "drawer", turbo_prefetch: false },
              class: "block truncate hover:underline" %>
        </div>
      </div>

      <div class="hidden md:flex col-span-2 items-center">
        <%= render "investment_activity/quick_edit_badge",
            entry: entry, entryable: trade %>
      </div>

      <div class="col-span-4 lg:col-span-2 ml-auto flex items-center justify-end gap-2 shrink-0">
        <% if entry.protected_from_sync? && !entry.excluded? %>
          <%= link_to entry_path(entry),
              data: { turbo_frame: "drawer", turbo_prefetch: false },
              class: "invisible group-hover:visible",
              title: t("entries.protection.tooltip") do %>
            <%= icon "lock", size: "sm", class: "text-secondary" %>
          <% end %>
        <% end %>

        <p class="<%= entry.amount.negative? ? 'text-green-600' : '' %>">
          <%= format_money(-entry.amount_money) %>
        </p>

      </div>
    </div>

  <% end %>
<% end %>